* {
    font-style: oblique;
}

.navbar-brand {
    padding-left: 10px;
    padding-right: 10px;
       
}


body {
    background-color: lightgrey;
}

.card {
    background-color: white;
    border: 5px color whitesmoke;
    margin-top: 30px;

}

.card-header {
    color: crimson;
    
}

.form-group {
    background-color: white;
    margin-top: 30px;

   
}

.form-header {
    color: crimson;
    margin-top: 30px;

}
.form {
    background-color: white;
         
}
 




