* {
    font-style: oblique;
}

@media screen and (max-width: 480px) {
    .container {
        padding:0;
        margin:0;
      }
  
      body {
        padding:0;
      }
       
  }

body {
    background: url(/assets/images/red-background.jpg) no-repeat center center fixed;
    background-size: cover;
}

.card {
    background-color: white;
    border: 5px color whitesmoke;
    margin-top: 30px;
    

}

.pic-box {
    position: relative;
}

.pic-text {
    position: absolute;
    bottom: 12px;
    left: 50%;
    transform: translate(-50%, 0);
    
    background-color: rgb(182, 61, 61);
    color: white;
    width: 100%;
    text-align: center;
    font-size: large;
}

.page-header {
    color: crimson;
            
}

.form-group {
    background-color: white;
    margin-top: 30px;

   
}

.form-header {
    color: crimson;
    margin-top: 30px;

}
.form {
    background-color: white;
         
}

.jumbotron {
    margin: 30px;
}
 
h1 {
    border-bottom: 3px crimson solid;
    
    margin-top: 30px;
      
    
}

.card-deck {
    background-color: white;
}


.caption {
    background-color: white;
    
}

.row {
    margin-right: auto;
    margin-left: auto;
}
